html
body
  background-color #ccc
  overflow hidden
  margin 0
  padding 0

#loading
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  z-index 1000
  display flex
  align-items center
  justify-content center
  background-color rgba(0, 0, 0, .85)
  opacity 1
  transition 1.5s opacity

  &.fade
    opacity 0

.dots
  width 200px
  height 200px
  position relative
  filter url('#effect')

.dot
  border-radius 50%
  position absolute
  left 140px
  top 80px
  transform-origin -40px
  animation loop 1s linear infinite

  &:nth-child(1)
    background #03a9f4
    width 32px
    height 32px
    animation-duration 2s

  &:nth-child(2)
    background #5af158
    width 34px
    height 34px
    animation-duration 4s

  &:nth-child(3)
    background #ffc107
    width 42px
    height 42px
    animation-duration 3s

  &:nth-child(4)
    background #ff5722
    width 28px
    height 28px
    animation-duration 5s

@keyframes loop
  from
    transform rotate(0)
  to
    transform rotate(360deg)
